{
    "appConfig": {},
    "expectedArtifacts": [
      {
        "defaultArtifact": {
          "id": "da60c92f-e404-40c6-8ace-8f0e60bb8f0f",
          "name": "${trigger['properties']['YAML_GCS_PATH']}${ trigger['properties']['YAML_NAME_ISTIO_PROD'] }",
          "reference": "${trigger['properties']['YAML_GCS_PATH']}${ trigger['properties']['YAML_NAME_ISTIO_PROD'] }",
          "type": "gcs/object"
        },
        "displayName": "istio-prod-yaml",
        "id": "66e647e1-a604-4698-a772-ff730fcdd1f7",
        "matchArtifact": {
          "id": "7a0fced3-5e38-4e70-a98f-001a4b5a400f",
          "name": "",
          "type": "gcs/object"
        },
        "useDefaultArtifact": true,
        "usePriorArtifact": false
      },
      {
        "defaultArtifact": {
          "id": "0c9f4a47-80a0-4ac5-91ca-f9fb839b5b62",
          "name": "${trigger['properties']['YAML_GCS_PATH']}${ trigger['properties']['YAML_NAME_KUBERNETES_CANARY'] }",
          "reference": "${trigger['properties']['YAML_GCS_PATH']}${ trigger['properties']['YAML_NAME_KUBERNETES_CANARY'] }",
          "type": "gcs/object"
        },
        "displayName": "kubernetes-canary-yaml",
        "id": "298a85c5-c4df-4ec7-88af-b059a20727f8",
        "matchArtifact": {
          "id": "f91c54ce-7bef-4567-a47f-c6ca1960e3b8",
          "name": "",
          "type": "gcs/object"
        },
        "useDefaultArtifact": true,
        "usePriorArtifact": false
      },
      {
        "defaultArtifact": {
          "id": "568ed51a-5c8b-4534-a5d3-1d0e28880e10",
          "name": "${trigger['properties']['YAML_GCS_PATH']}${ trigger['properties']['YAML_NAME_KUBERNETES_PROD'] }",
          "reference": "${trigger['properties']['YAML_GCS_PATH']}${ trigger['properties']['YAML_NAME_KUBERNETES_PROD'] }",
          "type": "gcs/object"
        },
        "displayName": "kubernetes-prod-yaml",
        "id": "43dea7a2-d0ed-448f-a703-eea3ccdf394a",
        "matchArtifact": {
          "id": "62d2476d-e55d-400d-a4ef-acb4aa942c59",
          "name": "${trigger['properties']['YAML_GCS_PATH']}${ trigger['properties']['YAML_NAME_KUBERNETES_PROD'] }",
          "type": "gcs/object"
        },
        "useDefaultArtifact": true,
        "usePriorArtifact": false
      },
      {
        "defaultArtifact": {
          "id": "5915d2fb-a2d7-468a-86ec-5fdde73d3691",
          "name": "${trigger['properties']['YAML_GCS_PATH']}${ trigger['properties']['YAML_NAME_ISTIO_CANARY'] }",
          "reference": "${trigger['properties']['YAML_GCS_PATH']}${ trigger['properties']['YAML_NAME_ISTIO_CANARY'] }",
          "type": "gcs/object"
        },
        "displayName": "istio-canary-yaml",
        "id": "db205826-974d-40cb-b0c0-ea30ce1462bc",
        "matchArtifact": {
          "id": "6583d636-92cf-47a0-89eb-7d83a38574be",
          "name": "",
          "type": "gcs/object"
        },
        "useDefaultArtifact": true,
        "usePriorArtifact": false
      },
      {
        "defaultArtifact": {
          "id": "7a30eadc-8a6a-48c4-816f-f61167375ade",
          "name": "${trigger['properties']['YAML_GCS_PATH']}${ trigger['properties']['YAML_NAME_KUBERNETES_BASELINE'] }",
          "reference": "${trigger['properties']['YAML_GCS_PATH']}${ trigger['properties']['YAML_NAME_KUBERNETES_BASELINE'] }",
          "type": "gcs/object"
        },
        "displayName": "kubernetes-baseline-yaml-future",
        "id": "c791a77c-7f0d-4e75-baf8-049dcfcb8034",
        "matchArtifact": {
          "id": "cf83029b-4c57-45a5-b367-40d0810197b3",
          "type": "gcs/object"
        },
        "useDefaultArtifact": true,
        "usePriorArtifact": false
      }
    ],
    "keepWaitingPipelines": false,
    "lastModifiedBy": "lin.meyer@redbox.com",
    "limitConcurrent": true,
    "notifications": [],
    "parameterConfig": [],
    "stages": [
      {
        "account": "kayenta-tutorial",
        "cloudProvider": "kubernetes",
        "completeOtherBranchesThenFail": false,
        "continuePipeline": true,
        "failPipeline": false,
        "manifestArtifactAccount": "spin-gcs-artifact-account",
        "manifestArtifactId": "db205826-974d-40cb-b0c0-ea30ce1462bc",
        "moniker": {
          "app": "brokendotnetcoredogfood"
        },
        "name": "Deploy Canary Istio Routes",
        "refId": "1",
        "relationships": {
          "loadBalancers": [],
          "securityGroups": []
        },
        "requisiteStageRefIds": [
          "2",
          "16"
        ],
        "skipExpressionEvaluation": false,
        "source": "artifact",
        "stageEnabled": {
          "expression": "${ #stage('Deploy Canary')['status'].toString() == 'SUCCEEDED' && #stage('Deploy Baseline')['status'].toString() == 'SUCCEEDED' }",
          "type": "expression"
        },
        "trafficManagement": {
          "enabled": false,
          "options": {
            "enableTraffic": false
          }
        },
        "type": "deployManifest"
      },
      {
        "account": "kayenta-tutorial",
        "cloudProvider": "kubernetes",
        "completeOtherBranchesThenFail": false,
        "continuePipeline": true,
        "failPipeline": false,
        "manifestArtifactAccount": "spin-gcs-artifact-account",
        "manifestArtifactId": "298a85c5-c4df-4ec7-88af-b059a20727f8",
        "moniker": {
          "app": "brokendotnetcoredogfood"
        },
        "name": "Deploy Canary",
        "refId": "2",
        "relationships": {
          "loadBalancers": [],
          "securityGroups": []
        },
        "requisiteStageRefIds": [
          "20"
        ],
        "skipExpressionEvaluation": false,
        "source": "artifact",
        "stageEnabled": {
          "expression": "${ #stage('Find Baseline')['status'].toString() == 'SUCCEEDED'}",
          "type": "expression"
        },
        "trafficManagement": {
          "enabled": false,
          "options": {
            "enableTraffic": false
          }
        },
        "type": "deployManifest"
      },
      {
        "failPipeline": true,
        "instructions": "Do you confirm you want to deploy to <b>CANARY</b>?",
        "judgmentInputs": [],
        "name": "Check: Deploy Canary?",
        "notifications": [],
        "refId": "3",
        "requisiteStageRefIds": [],
        "type": "manualJudgment"
      },
      {
        "analysisType": "realTime",
        "canaryConfig": {
          "canaryAnalysisIntervalMins": "5",
          "canaryConfigId": "{{ get_canary_id('dotnet_core_http_500', 'brokendotnetcoredogfood') }}",
          "lifetimeDuration": "PT0H5M",
          "metricsAccountName": "kayenta-tutorial",
          "scopes": [
            {
              "controlLocation": "default",
              "controlScope": "brokendotnetcoredogfood-baseline",
              "experimentLocation": "default",
              "experimentScope": "brokendotnetcoredogfood-canary",
              "extendedScopeParams": {},
              "scopeName": "default"
            }
          ],
          "scoreThresholds": {
            "marginal": "75",
            "pass": "95"
          },
          "storageAccountName": "kayenta-tutorial"
        },
        "completeOtherBranchesThenFail": false,
        "continuePipeline": true,
        "failPipeline": false,
        "name": "Canary Analysis",
        "refId": "10",
        "requisiteStageRefIds": [
          "1"
        ],
        "stageEnabled": {
          "expression": "${ #stage('Deploy Canary Istio Routes')['status'].toString() == 'SUCCEEDED'}",
          "type": "expression"
        },
        "type": "kayentaCanary"
      },
      {
        "account": "kayenta-tutorial",
        "app": "brokendotnetcoredogfood",
        "cloudProvider": "kubernetes",
        "completeOtherBranchesThenFail": true,
        "continuePipeline": false,
        "failPipeline": false,
        "kinds": [
          "configMap",
          "service",
          "deployment"
        ],
        "labelSelectors": {
          "selectors": [
            {
              "key": "app",
              "kind": "EQUALS",
              "values": [
                "brokendotnetcoredogfood"
              ]
            },
            {
              "key": "environment",
              "kind": "EQUALS",
              "values": [
                "canary"
              ]
            }
          ]
        },
        "location": "default",
        "mode": "label",
        "name": "Delete Canary",
        "options": {
          "cascading": true
        },
        "refId": "14",
        "requisiteStageRefIds": [
          "26"
        ],
        "type": "deleteManifest"
      },
      {
        "account": "kayenta-tutorial",
        "cloudProvider": "kubernetes",
        "completeOtherBranchesThenFail": false,
        "continuePipeline": true,
        "failPipeline": false,
        "manifestArtifactAccount": "spin-gcs-artifact-account",
        "manifestArtifactId": "60e24d30-84a0-48a4-a96f-649baf588ecd",
        "moniker": {
          "app": "brokendotnetcoredogfood"
        },
        "name": "Deploy Baseline",
        "refId": "16",
        "relationships": {
          "loadBalancers": [],
          "securityGroups": []
        },
        "requisiteStageRefIds": [
          "20"
        ],
        "skipExpressionEvaluation": false,
        "source": "artifact",
        "stageEnabled": {
          "expression": "${ #stage('Find Baseline')['status'].toString() == 'SUCCEEDED'}",
          "type": "expression"
        },
        "trafficManagement": {
          "enabled": false,
          "options": {
            "enableTraffic": false,
            "services": []
          }
        },
        "type": "deployManifest"
      },
      {
        "application": "brokendotnetcoredogfood",
        "completeOtherBranchesThenFail": false,
        "continuePipeline": true,
        "executionOptions": {
          "successful": true
        },
        "expectedArtifact": {
          "defaultArtifact": {
            "customKind": true,
            "id": "608d5d2c-54f2-4bdd-951b-35e848d55928"
          },
          "displayName": "prod-yaml-as-baseline",
          "id": "60e24d30-84a0-48a4-a96f-649baf588ecd",
          "matchArtifact": {
            "id": "f7969dbf-9c3b-46fc-8b31-c1e07af45584",
            "name": ".*\\-baseline.yaml",
            "type": "gcs/object"
          },
          "useDefaultArtifact": false,
          "usePriorArtifact": false
        },
        "expectedArtifacts": [
          {
            "defaultArtifact": {
              "customKind": true,
              "id": "608d5d2c-54f2-4bdd-951b-35e848d55928"
            },
            "displayName": "prod-yaml-as-baseline",
            "id": "60e24d30-84a0-48a4-a96f-649baf588ecd",
            "matchArtifact": {
              "id": "f7969dbf-9c3b-46fc-8b31-c1e07af45584",
              "name": ".*\\-baseline.yaml",
              "type": "gcs/object"
            },
            "useDefaultArtifact": false,
            "usePriorArtifact": false
          }
        ],
        "failPipeline": false,
        "name": "Find Baseline",
        "pipeline": "cf4989db-6e17-4f97-b992-dbfddcf1f02c",
        "refId": "20",
        "requisiteStageRefIds": [
          "3"
        ],
        "type": "findArtifactFromExecution"
      },
      {
        "name": "Successful",
        "preconditions": [
          {
            "context": {
              "expression": "${ #stage('Canary Analysis')['status'].toString() == 'SUCCEEDED' || #stage('Judgement: Skip Canary')['status'].toString() == 'SUCCEEDED'}"
            },
            "failPipeline": true,
            "type": "expression"
          },
          {
            "context": {
              "expression": "${ #stage('Deploy Prod')['status'].toString() == 'SUCCEEDED'}"
            },
            "failPipeline": true,
            "type": "expression"
          }
        ],
        "refId": "22",
        "requisiteStageRefIds": [
          "14",
          "23"
        ],
        "type": "checkPreconditions"
      },
      {
        "account": "kayenta-tutorial",
        "app": "brokendotnetcoredogfood",
        "cloudProvider": "kubernetes",
        "completeOtherBranchesThenFail": true,
        "continuePipeline": false,
        "failPipeline": false,
        "kinds": [
          "configMap",
          "service",
          "deployment"
        ],
        "labelSelectors": {
          "selectors": [
            {
              "key": "app",
              "kind": "EQUALS",
              "values": [
                "brokendotnetcoredogfood"
              ]
            },
            {
              "key": "environment",
              "kind": "EQUALS",
              "values": [
                "baseline"
              ]
            }
          ]
        },
        "location": "default",
        "mode": "label",
        "name": "Delete Baseline",
        "options": {
          "cascading": true
        },
        "refId": "23",
        "requisiteStageRefIds": [
          "26"
        ],
        "type": "deleteManifest"
      },
      {
        "completeOtherBranchesThenFail": false,
        "continuePipeline": false,
        "failPipeline": true,
        "instructions": "<b>A baseline was not found</b>, this usually only happens the first time a pipeline is run.  <b>Do you want to deploy straight to prod?</b> <b>Warning: No Canary Analysis or testing will be possible first</b>",
        "judgmentInputs": [],
        "name": "Judgement: Skip Canary",
        "notifications": [],
        "refId": "24",
        "requisiteStageRefIds": [
          "10"
        ],
        "stageEnabled": {
          "expression": "${ #stage('Find Baseline')['status'].toString() != 'SUCCEEDED'}",
          "type": "expression"
        },
        "type": "manualJudgment"
      },
      {
        "account": "kayenta-tutorial",
        "cloudProvider": "kubernetes",
        "manifestArtifactAccount": "spin-gcs-artifact-account",
        "manifestArtifactId": "66e647e1-a604-4698-a772-ff730fcdd1f7",
        "moniker": {
          "app": "brokendotnetcoredogfood"
        },
        "name": "Deploy Prod Istio Routes",
        "refId": "25",
        "requisiteStageRefIds": [
          "24"
        ],
        "skipExpressionEvaluation": false,
        "source": "artifact",
        "stageEnabled": {
          "expression": "${ #stage('Judgement: Skip Canary')['status'].toString() != 'SUCCEEDED'}",
          "type": "expression"
        },
        "trafficManagement": {
          "enabled": false,
          "options": {
            "enableTraffic": false,
            "services": []
          }
        },
        "type": "deployManifest"
      },
      {
        "account": "kayenta-tutorial",
        "cloudProvider": "kubernetes",
        "completeOtherBranchesThenFail": false,
        "continuePipeline": true,
        "failPipeline": false,
        "manifestArtifactAccount": "spin-gcs-artifact-account",
        "manifestArtifactId": "43dea7a2-d0ed-448f-a703-eea3ccdf394a",
        "moniker": {
          "app": "brokendotnetcoredogfood"
        },
        "name": "Deploy Prod",
        "refId": "26",
        "requisiteStageRefIds": [
          "25"
        ],
        "skipExpressionEvaluation": false,
        "source": "artifact",
        "stageEnabled": {
          "expression": "${ #stage('Deploy Prod Istio Routes')['status'].toString() != 'SUCCEEDED'}",
          "type": "expression"
        },
        "trafficManagement": {
          "enabled": false,
          "options": {
            "enableTraffic": false,
            "services": []
          }
        },
        "type": "deployManifest"
      }
    ],
    "triggers": [
      {
        "attributeConstraints": {},
        "enabled": true,
        "expectedArtifactIds": [],
        "job": "a_{{ group_name }}_{{ repo_name }}",
        "master": "jenkinsci",
        "payloadConstraints": {
          "foo": "bar"
        },
        "propertyFile": "build_vars",
        "pubsubSystem": "google",
        "subscriptionName": "jenkins-deployments",
        "type": "jenkins"
      }
    ],
  }