{
    "app": {
        "app_description": null,
        "app_ssh_key": "{{ env }}_access",
        "email": null,
        "eureka_enabled": false,
        "instance_profile": "{{ profile }}",
        "instance_type": "t2.micro"
    },
    "asg": {
        "hc_type": "ELB",
        "max_inst": 3,
        "min_inst": 1,
        "subnet_purpose": "internal"
    },
    "elb": {
        "i_port": 8080,
        "i_proto": "HTTP",
        "lb_port": 80,
        "lb_proto": "HTTP",
        "subnet_purpose": "internal",
        "target": "TCP:8080"
    },
    "qe": {
    },
    "regions": [
        "us-east-1"
    ],
    "security_group": {
        "default_sg": "sg_apps",
        "description": "Auto-Gen SG for {{ app }}",
        "egress": "0.0.0.0/0",
        "ingress": {
            "app_a": [
                8080,
                8443,
                8173
            ],
            "app_b": [
                8080,
                8143
            ]
        }
    }
}
