{
    "owner_email": "",
    "documentation": "",
    "notifications": {
        "email": "",
        "slack": ""
    },
    "promote_restrict": "none",
    "base": "tomcat8",
    "env": ["stage", "prod"],
    "image": {
        "root_volume_size": 6,
        "builder": "chroot"
    }
}
