sudo: false
language: python
cache: false

matrix:
  include:
    - python: 3.4
      env: TOXENV=py34
    - python: 3.5
      env: TOXENV=py35
    - python: 3.6
      env: TOXENV=py36
    - python: 3.6
      env: TOXENV=lint

install:
  - pip install -r requirements-dev.txt

script:
  - tox -e $TOXENV

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/a57f158d4365b3598713
    on_success: never
    on_failure: always
    on_start: never
