{
  "stages": [
    {
      "account": "{{ data.app.environment }}",
      "cloudProvider": "kubernetes",
      "completeOtherBranchesThenFail": false,
      "continuePipeline": false,
      "failPipeline": true,
      "manifestArtifactAccount": "{{ data.app.manifest_account_name }}",
      "moniker": {
        "app": "{{ data.app.appname }}"
      },
      "name": "Deploy Canary Istio Routes",
      "refId": "1",
      "relationships": {
        "loadBalancers": [],
        "securityGroups": []
      },
      "requisiteStageRefIds": [
        "2"
      ],
      "skipExpressionEvaluation": false,
      "source": "artifact",
      "trafficManagement": {
        "enabled": false,
        "options": {
          "enableTraffic": false
        }
      },
      "type": "deployManifest"
    },
    {
      "account": "{{ data.app.environment }}",
      "cloudProvider": "kubernetes",
      "completeOtherBranchesThenFail": false,
      "continuePipeline": false,
      "failPipeline": true,
      "manifestArtifactAccount": "{{ data.app.manifest_account_name }}",
      "moniker": {
        "app": "{{ data.app.appname }}"
      },
      "name": "Deploy Canary",
      "refId": "2",
      "relationships": {
        "loadBalancers": [],
        "securityGroups": []
      },
      "requisiteStageRefIds": [
        "3"
      ],
      "skipExpressionEvaluation": false,
      "source": "artifact",
      "trafficManagement": {
        "enabled": false,
        "options": {
          "enableTraffic": false
        }
      },
      "type": "deployManifest"
    },
    {
      "failPipeline": true,
      "instructions": "Do you confirm you want to deploy to <b>CANARY</b>?",
      "judgmentInputs": [],
      "name": "Check: Deploy Canary?",
      "notifications": [],
      "refId": "3",
      "requisiteStageRefIds": [],
      "type": "manualJudgment"
    },
    {
      "account": "{{ data.app.environment }}",
      "app": "{{ data.app.appname }}",
      "cloudProvider": "kubernetes",
      "completeOtherBranchesThenFail": false,
      "continuePipeline": false,
      "failPipeline": true,
      "kinds": [
        "configMap",
        "service",
        "deployment"
      ],
      "labelSelectors": {
        "selectors": [
          {
            "key": "app",
            "kind": "EQUALS",
            "values": [
              "{{ data.app.appname }}"
            ]
          },
          {
            "key": "environment",
            "kind": "EQUALS",
            "values": [
              "canary"
            ]
          }
        ]
      },
      "location": "default",
      "mode": "label",
      "name": "Delete Canary",
      "options": {
        "cascading": true
      },
      "refId": "14",
      "requisiteStageRefIds": [
        "26"
      ],
      "type": "deleteManifest"
    },
    {
      "account": "{{ data.app.environment }}",
      "cloudProvider": "kubernetes",
      "manifestArtifactAccount": "{{ data.app.manifest_account_name }}",
      "moniker": {
        "app": "{{ data.app.appname }}"
      },
      "name": "Deploy Prod Istio Routes",
      "refId": "25",
      "requisiteStageRefIds": [
        "27"
      ],
      "skipExpressionEvaluation": false,
      "source": "artifact",
      "trafficManagement": {
        "enabled": false,
        "options": {
          "enableTraffic": false,
          "services": []
        }
      },
      "type": "deployManifest"
    },
    {
      "account": "{{ data.app.environment }}",
      "cloudProvider": "kubernetes",
      "completeOtherBranchesThenFail": false,
      "continuePipeline": false,
      "failPipeline": true,
      "manifestArtifactAccount": "{{ data.app.manifest_account_name }}",
      "moniker": {
        "app": "{{ data.app.appname }}"
      },
      "name": "Deploy Prod",
      "refId": "26",
      "requisiteStageRefIds": [
        "25"
      ],
      "skipExpressionEvaluation": false,
      "source": "artifact",
      "trafficManagement": {
        "enabled": false,
        "options": {
          "enableTraffic": false,
          "services": []
        }
      },
      "type": "deployManifest"
    },
    {
      "failPipeline": true,
      "instructions": "Do you want to deploy to <b>PROD</b>?",
      "judgmentInputs": [],
      "name": "Check: Deploy Prod?",
      "notifications": [],
      "refId": "27",
      "requisiteStageRefIds": [
        "1"
      ],
      "type": "manualJudgment"
    }
  ]
}