{
  {% if data.app.deploy_type == "kubernetes" %}
  "name": "{{ data.app.appname }} [{{ data.app.environment }}]",
  {% else %}
  "name": "{{ data.app.appname }} [{{ data.app.region }}]",
  {% endif %}
  {% if data.id %}
  "id": "{{ data.id }}",
  {% endif %}
  "application": "{{ data.app.appname }}",
  "triggers": [
    {% include "pipeline/trigger-jenkins.json.j2" %}
  ],
  "limitConcurrent": false,
  "parallel": true,
  "notifications": [
    {
      "level": "pipeline",
      "when": [
        "pipeline.failed"
      ],
      "type": "slack",
      "address": "{{ data.app.slack }}"
    },
    {
      "level": "pipeline",
      "when": [
        "pipeline.failed"
      ],
      "type": "email",
      "address": "{{ data.app.email }}"
    }
  ],
  "stages": [
    {% if data.app.deploy_type not in ["lambda", "s3", "datapipeline", "kubernetes"] %}
      {% include "pipeline/stage-bake.json.j2" %}
    {% endif %}
   ],
  {% if data.app.deploy_type == "kubernetes" %}
  "cloudProviders": "kubernetes"
  {% endif %},
  "dataSources": {
    "enabled": [
      {% if data.app.deploy_type == "kubernetes" %}
      "canaryConfigs"
      {% endif %}
    ]
  }
}
