[
    {% include "pipeline/stage-judgement-prod.json.j2" %},
    {% include "pipeline/stage-audit-approval.json.j2" %},
    {% include "pipeline/stage-infrastructure-setup.json.j2" %},
    {% include "pipeline/stage-deploy.json.j2" %},
    {% if data.app.scalingpolicy %}
    {% include "pipeline/stage-scaling-policy.json.j2" %},
    {% endif %}
    {% include "pipeline/stage-servicenow.json.j2" %},
    {% include "pipeline/stage-tagger.json.j2" %},
    {% include "pipeline/stage-qe.json.j2" %}
]
