[
    {% if data.app.previous_env %}
      {% if not data.app.approval_skip %}
        {% include "pipeline/stage-judgement-nonprod.json.j2" %},
      {% endif %}
    {% endif %}
    {% include "pipeline/stage-infrastructure-setup.json.j2" %},
    {% include "pipeline/stage-deploy-cloudfunction.json.j2" %}
]