
    {
      "requisiteStageRefIds":[""],
      "refId": "master",
      "type": "manualJudgment",
      "name": "Checkpoint {{ data.app.environment }}",
      "notifications": [],
      "judgmentInputs": [],
      "failPipeline": false,
      "instructions": "I confirm that I'm ready for this application to be promoted to <strong>{{ data.app.environment }}</strong>.",
      "comments": ""
    }
