  {
      "requisiteStageRefIds": [
        "6"
      ],
      "refId": "7",
      "type": "jenkins",
      "comments": "This stage will verify that the user that approved the previous <b>{{ data.app.environment }}</b> checkpoint is not the same person that made the commit. If this stage fails it means someone else must approve the checkpoint.",
      "name": "Audit Approval [{{ data.app.environment }}]",
      "failPipeline": true,
      "master": "JenkinsCI",
      "job": "spinnaker-pipeline-processor",
      "parameters": {
        "EXECUTION_ID": "${execution.id}",
        "FUNCTION": "audit_approval",
        "ACCOUNT": "{{ data.app.environment }}",
        "USER_CHECK_TYPE": "{{ data.app.promote_restrict }}"
        }
    }
