{
    "type": "ec2",
    "owner_email": "",
    "documentation": "",
    "type": "ec2",
    "notifications": {
        "email": "",
        "slack": ""
    },
    "promote_restrict": "none",
    "base": "tomcat8",
    "env": ["stage", "prod"],
    "primary_region": "us-east-1",
    "image": {
        "root_volume_size": 6,
        "builder": "ebs"
    },
    "lambda": {
        "app_description": "default description",
        "runtime": "java8",
        "handler": "main",
        "vpc_enabled": false
    },
    "pipeline_files": []
}
