{
    "LambdaFunctionConfigurations": [
        {
            "LambdaFunctionArn": "{{ lambda_arn }}",
            {% if filters -%}
            "Filter": {
                "Key": {
                    "FilterRules": {{ filters }}

                }
            },
            {% endif -%}
            "Events": {{ events }}
        }
    ]
}
