{
    "LambdaFunctionConfigurations": [
        {
            "LambdaFunctionArn": "{{ lambda_arn }}",
            "Events": {{ events }},
            "Filter": {
                "Key": {
                    "FilterRules": {{ filters }}

                }
            }
        }
    ]
}