
    {
      "requisiteStageRefIds": ["5"],
      "refId": "6",
      "type": "deploy",
      "name": "Deploy {{ data.app.environment }}",
      "clusters": [
        {
          "base64UserData": "{{ data.app.encoded_user_data }}",
          "application": "{{ data.app.appname }}",
          "strategy": "highlander",
          "capacity": {
            "min": {{ data.asg.min_inst }},
            "max": {{ data.asg.max_inst }},
            "desired": {{ data.asg.min_inst }}
          },
          "targetHealthyDeployPercentage": 100,
          "cooldown": 10,
          "healthCheckType": "ELB",
          "healthCheckGracePeriod": "600",
          "instanceMonitoring": false,
          "ebsOptimized": false,
          "iamRole": "{{ data.app.instance_profile }}",
          "terminationPolicies": [
            "Default"
          ],
          "availabilityZones": {{ data.app.az_dict }},
          "keyPair": "{{ data.app.environment }}_{{ data.app.region }}_default",
          "suspendedProcesses": [],
          "securityGroups": [
            "sg_apps",
            "sg_offices",
            "{{ data.app.appname }}"
          ],
          "tags": {
            "app_group": "{{ data.app.groupname }}",
            "Name": "{{ data.app.appname }}"
          },
          "subnetType": "internal",
          "virtualizationType": null,
          "loadBalancers": [ "{{ data.app.appname }}" ],
          "instanceType": "{{ data.app.instance_type }}",
          "useSourceCapacity": false,
          "associatePublicIpAddress": null,
          "provider": "aws",
          "cloudProvider": "aws",
          "account": "{{ data.app.environment }}"
        }
      ],
      "comments": "",
      "restrictExecutionDuringTimeWindow": false
    }
