awscli
boto3
deepmerge
gogo-utils
jinja2
pluginbase
python-gitlab
requests
slacker
tryagain
requests_toolbelt==0.9.1
PyJWT==1.7.1
cryptography>=3.3.2
google-cloud-secret-manager==0.2.0
google-api-python-client==1.7.11
google-auth==1.11.2
google-auth-httplib2==0.0.3
tabulate==0.8.7
