{
   "application": "{{ app }}",
   "description": "Upsert scaling policy {{ server_group }}",
   "job": [
      {
         "serverGroupName": "{{ server_group }}",
         "credentials": "{{ env }}",
         "region": "{{ region }}",
         "provider": "aws",
         "adjustmentType": "ChangeInCapacity",
         "alarm":{
            "region": "{{ region }}",
            "actionsEnabled": true,
            "comparisonOperator": "{{ scaling_policy.scaling_metric.comparison_operator }}",
            "dimensions":[
               {% for dimension in scaling_policy.scaling_metric.dimensions %}
                     {% for dimension_name, dimenstion_value in dimension.items() %}
                        {
                           "name": "{{ dimension_name }}",
                           "value": "{{ dimension_value }}"
                        }{%- if not loop.last -%},{%- endif -%}
                     {% endfor %}
               {% endfor %}
            ],
            "evaluationPeriods": {{ scaling_policy.scaling_metric.evaluation_periods }},
            "period": {{ scaling_policy.scaling_metric.evaluation_period }},
            "threshold": {{ scaling_policy.scaling_metric.threshold }},
            "namespace": "{{ scaling_policy.scaling_metric.namespace }}",
            "metricName": "{{ scaling_policy.scaling_metric.metric_name | default("CPUUtilization") }}",
            "statistic": "{{ scaling_policy.scaling_metric.statistic | default("Average") }}",
            "alarmActionArns":[],
            "insufficientDataActionArns":[]
         },
         "step": {
            "estimatedInstanceWarmup": {{ scaling_policy.instance_warmup | default(300) }},
            "metricAggregationType": "{{ scaling_policy.scaling_metric.statistic | default("Average") }}",
            "stepAdjustments": {{ scaling_policy.scaling_metric.steps }}
         },
         "type": "upsertScalingPolicy",
         "user": "foremast"
      }
   ]
}

# predefined_metrics
"custom_scaling_policies": [
    {
        "scaling_type": "step_scaling",
        "instance_warmup": 300,
        "scaling_metric": {
            "metric_name": "ASGAverageCPUUtilization",
            "namespace": "AWS/EC2",
            "comparison_operator": "GreaterThanThreshold",
            "dimensions": [
                {
                    "name": "AutoScalingGroupName",
                    "value": "self"
                }
            ],
            "steps": [
               {
                  "scalingAdjustment": 1,
                  "metricIntervalUpperBound": 25000,
                  "metricIntervalLowerBound": 0
               },
               {
                  "scalingAdjustment": 10,
                  "metricIntervalLowerBound": 25000,
                  "metricIntervalUpperBound": 50000
               },
               {
                  "scalingAdjustment": 1,
                  "metricIntervalLowerBound": 50000
               }
            ],
            "evaluation_periods": 1,
            "evaluation_period": 60,
            "threshold": 200000,
            "statistic": "Average"
        },
        "disable_scale_in": false
    }
]