{
    "Comment": "Automatic Update",
    "Changes": [
        {
            "Action": "UPSERT",
            "ResourceRecordSet": {
                "Name": "{{ dns_name }}",
                "Type": "A",
                "SetIdentifier": "{{ dns_name}}-{{ failover }}",
                "Failover": "{{ failover }}",
                "AliasTarget": {
                    "HostedZoneId": "{{ elb_zone_id }}",
                    "DNSName": "dualstack.{{ elb_dns }}",
                    "EvaluateTargetHealth": true
                }
            }
        }
    ]
}
