{
    "Comment": "Automatic Update",
    "Changes": [
        {
            "Action": "UPSERT",
            "ResourceRecordSet": {
                "Name": "{{ dns_name }}",
                "Type": "A",
                "Failover": "{{ failover }}",
                "TTL": {{ dns_ttl }},
                "AliasTarget": {
                    "HostedZoneId": "{{ zone_id }}",
                    "DNSName": "{{ elb_dns }}",
                    "EvaluateTargetHealth": false
                },
                "ResourceRecords": [
                    {
                        "Value": "{{ dns_name_aws }}"
                    }
                ]
            }
        }
    ]
}
