        {
            "Sid": "ElasticSearchCreateDelete",
            "Action": [
                "es:CreateElasticsearchDomain",
                "es:DeleteElasticsearchDomain"
            ],
            "Effect": "Allow",
            "Resource": "*"
        }