        {
            "Sid": "GlueLimitedAccess",
            "Action": [
                "glue:GetTable*",
                "glue:GetDatabase*"
            ],
            "Effect": "Allow",
            "Resource": "*"
        }
