        {
            "Sid": "LambdaFunctionAccess",
            "Action": [
            {% if settings.lambda.vpc_enabled %}
                "ec2:CreateNetworkInterface",
            {% endif %}
                "lambda:*"
            ],
            "Effect": "Allow",
            "Resource": "*"
        }
