        {
            "Sid": "RDSDBConnectAccess",
            "Effect": "Allow",
            "Action": [
                "rds-db:connect"
            ],
            "Resource": [
            {%- for db_resource_id, db_user in items.items() %}
                "arn:aws:rds-db:{{ region }}:{{ account_number }}:dbuser:{{ db_resource_id }}/{{ db_user }}"
                {{ "," if not loop.last }}
            {% endfor %} 
            ]
        }
