{
  "name": "{{ app.appname }}-{{ app.environment }}-{{ app.region }}-Pipeline",
  "application": "{{ app.appname }}",
  "stages": [
    {
      "requisiteStageRefIds": [],
      "refId": "1",
      "type": "findImage",
      "name": "Find Image",
      "cloudProviderType": "aws",
      "regions": {{ app.regions }},
      "cloudProvider": "aws",
      "selectionStrategy": "LARGEST",
      "onlyEnabled": true,
      "cluster": "{{ app.appname }}",
      "credentials": "{{ app.previous_env }}"
    },
    {
      "requisiteStageRefIds": [
        "1"
      ],
      "refId": "2",
      "type": "deploy",
      "name": "Deploy {{ app.environment }}",
      "clusters": [
        {
          "base64UserData": "{{ app.encoded_user_data }}",
          "application": "{{ app.appname }}",
          "strategy": "highlander",
          "capacity": {
            "min": {{ asg.min_inst }},
            "max": {{ asg.max_inst }},
            "desired": {{ asg.min_inst }}
          },
          "targetHealthyDeployPercentage": 100,
          "cooldown": 10,
          "healthCheckType": "ELB",
          "healthCheckGracePeriod": "60",
          "instanceMonitoring": false,
          "ebsOptimized": false,
          "iamRole": "{{ app.instance_profile }}",
          "terminationPolicies": [
            "Default"
          ],
          "availabilityZones": {{ app.az_dict }},
          "keyPair": "{{ app.environment }}_access",
          "suspendedProcesses": [],
          "securityGroups": [
            "sg_apps",
            "sg_offices",
            "{{ app.appname }}"
          ],
          "tags": {
            "app_group": "${ trigger.properties.GROUP_NAME }"
          },
          "subnetType": "internal",
          "virtualizationType": null,
          "loadBalancers": ["{{ app.appname }}"],
          "instanceType": "{{ app.instance_type }}",
          "useSourceCapacity": false,
          "associatePublicIpAddress": null,
          "provider": "aws",
          "cloudProvider": "aws",
          "account": "{{ app.environment }}",
          "interestingHealthProviderNames": [
            "Amazon"
          ]
        }
      ],
      "comments": "",
      "restrictExecutionDuringTimeWindow": false,
      "restrictedExecutionWindow": {
        "whitelist": [
          {
            "startHour": 3,
            "startMin": 0,
            "endHour": 11,
            "endMin": 0
          }
        ]
      },
      "sendNotifications": false,
      "notifications": []
    },
    {
      "requisiteStageRefIds": [
        "2"
      ],
      "refId": "3",
      "type": "jenkins",
      "name": "QE {{ app.environment }}",
      "failPipeline": true,
      "master": "JenkinsCI",
      "job": "promote-qe-{{ app.environment }}",
      "parameters": {
        "test_job": "profileservice_QE"
      }
    {% if app.next_env %}
    },
    {
      "requisiteStageRefIds": ["3"],
      "refId": "5",
      "type": "manualJudgment",
      "name": "Checkpoint",
      "notifications": [],
      "judgmentInputs": [
        {
          "value": "Reason: Testing"
        },
        {
          "value": "Reason: Change Request"
        },
        {
          "value": "Reason: Hotfix"
        }
      ],
      "failPipeline": true,
      "instructions": "Do you want to proceed and promote the deployment to {{ app.next_env }}?",
      "comments": "application: ${ trigger.properties.APP_NAME }"
    {% endif %}
    }
  ],
  "triggers": [
    {
      "enabled": true,
      "type": "pipeline",
      "application": "{{ app.appname }}",
      "status": [
        "successful"
      ],
      "pipeline": "{{ pipeline_id }}"
    }
  ],
  "limitConcurrent": true,
  "parallel": true,
  "notifications": [
    {
      "level": "pipeline",
      "when": [
        "pipeline.failed"
      ],
      "type": "slack",
      "address": "#spinnaker"
    }
  ]
}
